canvas {
  background-color: #eee;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  aspect-ratio: 2/1;
  max-height: 500px;
}

canvas.cdpr {
  width: 65%;
}
canvas.gamepad {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  margin: 0 auto 20px auto;
  width: 90%;
}
div.centercol {
  float: right;
  width: 34%;
  margin: 0 auto;
  max-height: 500px;
}
div.arm {
  border: 1px solid #888;
  padding: 10px;
}
div.arm button {
  margin: 2px 1px;
}

.serialoutput {
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  white-space: pre;
  padding: 5px 10px;
  overflow-y: scroll;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.serialinput {
  width: 100%;
}

h2 {
  margin: 0;
}


/* Begin plagiarism from https://github.com/mmiscool/serialTerminal.com */
.serialterminalbackground {
  background-color: #352e2e;
  font-family: monospace;
  color: rgb(60, 255, 1);
  padding: 0px;
}

button,
datalist {
  background-color: rgb(140, 140, 140);
}

input[type=text] {
  color: rgb(179, 255, 179);
  background-color: rgb(102, 86, 86);
  border: 2px solid;
  border-color: #696 #363 #363 #696;
}

#serialResults {
  font-family: monospace;
  white-space: pre;
  /* height: calc(100% - 120px); */
  /* width: calc(100% - 20px); */
  border-style: solid;
  overflow: overlay;
  background-color: rgb(88, 92, 92);
  padding: 10px;
  margin: 0px;
}
/* End plagiarism from https://github.com/mmiscool/serialTerminal.com */
