canvas {
  background-color: #eee;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 0;
  width: 49%;
  aspect-ratio: 2/1;
}

canvas.cdpr {
  width: 55%;
}
canvas.gamepad {
  background-color: #fff;
  border: 1px solid #eee;
  margin-left: 30px;
  width: 40%;
}

.serialoutput {
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  white-space: pre;
  padding: 5px 10px;
  overflow-y: scroll;
  height: 250px;
}
.serialinput {
  width: 100%;
}


/* Begin plagiarism from https://github.com/mmiscool/serialTerminal.com */
.serialterminalbackground {
  background-color: #352e2e;
  font-family: monospace;
  color: rgb(60, 255, 1);
  padding: 0px;
}

button,
datalist {
  background-color: rgb(85, 85, 85);
}

input[type=text] {
  color: rgb(179, 255, 179);
  background-color: rgb(102, 86, 86);
  border: 1px solid;
  border-color: #696 #363 #363 #696;
}

#serialResults {
  font-family: monospace;
  white-space: pre;
  /* height: calc(100% - 120px); */
  /* width: calc(100% - 20px); */
  border-style: solid;
  overflow: scroll;
  background-color: rgb(88, 92, 92);
  padding: 10px;
  margin: 0px;
}
/* End plagiarism from https://github.com/mmiscool/serialTerminal.com */
